.home{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .create_form input{
    width: 300px;
    padding: 10px;
    border-bottom: 2px solid;
    outline: none;
  }
  
  .create_form button{
    padding: 10px;
    background-color:rgb(118, 13, 13);
    color: rgb(45, 167, 24);
    cursor: pointer;
  }